/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(./assets/dollars-money-coin-splash-out-basket_35570-55.webp);
    background-size:cover;
}

.style{
    opacity: 0;
}