<form (ngSubmit)="register()"  [formGroup]="registerForm">
    <div class="mt-5 ms-5  container text-center w-50 p-3 bg-dark rounded-3">
        <h1 class="text-white">Registration Page</h1>
        <div class="mt-2 p-2">
            <input name="uname" formControlName="uname" class="mt-4 rounded-2 form-control" type="text"
                placeholder="Username" id="uno">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
            <p class="text-danger">Invalid Username</p>
        </div>
        <div class="mt-2 p-2">
            <input name="acno" formControlName="acno" class="mt-4 mb-3 rounded-2 form-control" type="text"
                placeholder="Account No" id="acid">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('uname')?.touched">
            <p class="text-danger">Invalid Username</p>
        </div>

        <div class="mt-2 p-2">
            <input name="psw" formControlName="psw" class="mt-4 mb-3 rounded-2 form-control" type="password"
                placeholder="Password" id="pid">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('uname')?.touched">
            <p class="text-danger">Invalid Password</p>
        </div>
        <div class="mt-2 p-2">
            <button type="submit" (click)="register()" class="rounded-3 btn btn-outline-secondary mb-3">Sign Up</button>
        </div>
    </div>
</form>